{% extends 'layouts/base.html.twig' %}

{% block title 'Find all the best pins on Earth!' %}

{% block body %}

{% if pins|length > 0 %}
	<h1 class="text-center text-muted mb-4">{{ pluralize(pins|length, 'Pin') }}</h1>

	{% for row in pins|batch(3) %}
	<div class="row mb-5">
		{% for pin in row %}
		<div class="col-md-4">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<a href="{{ path('app_pins_show', {id: pin.id}) }}">
						<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/default.png')) | imagine_filter('thumbMedium') }}" alt="{{ pin.title }}" class="img-fluid w-100">
					</a>
				</div>

				<h2 class="h5 pl-3 pt-3"><a href="{{ path('app_pins_show', {id: pin.id}) }}" class="text-secondary text-decoration-none">{{ pin.title }}</a></h2>
				{# <p>{{ pin.description|u.truncate(10, '...', false) }}</p> #}
				{# <p>Submitted {{ pin.createdAt|ago }}</p> #}
				<p class="text-muted pl-3 pb-3"><small>Submitted by {{ pin.user.fullName }}</small></p>
			</article>
		</div>
		{% endfor %}
	</div>
	{% endfor %}


{% else %}
	<p class="h1 text-center mt-5">No pins yet... <a href="{{ path('app_pins_create') }}">Create your first Pin!</a></p>
{% endif %}

{% endblock %}